@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
   margin:0;
   padding:0;
   height:100%;
   background: #E5E5E5;

   .navbar.fixed-top {
        background-color: lightgray !important;
      //   z-index: 1000;
    }
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding-top:90px;
}
#footer {
   position:fixed;
   bottom:0;
   width:100%;
   background:#000000;
   

   .footer{
    padding: 0px !important;
   }
}

