<div class="card card-stats">
    <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
            <i class="material-icons">swap_vert</i>
        </div>
        <p class="card-category">Previous UK Yesterday Rate ( {{this.titleDate.toLocaleDateString()}} )</p>
        <div *ngIf="!isProcessing">
            <h3 class="card-title">{{ ukYesterdayRate.errorPercentage }}
                <small>%</small>
            </h3>
        </div>
        <loading-spinner [isProcessing]="isProcessing" ></loading-spinner>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons text-danger">warning</i>
            Error-Count: {{ ukYesterdayRate.errorCount }}
        </div>
    </div>
</div>