<div class="card card-stats">
    <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
            <i class="material-icons">swap_vert</i>
        </div>
        <p class="card-category">UK Yesterday Rate ( {{this.titleDate | date: 'dd/MM/yyyy'}} )</p>
        <div *ngIf="!isProcessing">
            <h3 class="card-title">{{ ukYesterdayRate.errorPercentage }}
                <small>%</small>
            </h3>
        </div>
        <loading-spinner [isProcessing]="isProcessing" ></loading-spinner>
    </div>
    <div class="card-footer">
        <dailyrate-footer style="display: contents" [rate]="ukYesterdayRate"></dailyrate-footer>
    </div>
</div>