.form-check{
    margin-top: 0px;
    margin-bottom: 0px;
}

.table{
    table-layout: fixed;
    font-size: small;
}

.table thead tr th {
    font-size: 14px;
}

.form-check .form-check-sign .check{
    z-index: 0;
}

/* .card{
    overflow: hidden;
  } */
  
/* .card-block{
    word-wrap: break-word;
} */