<div class="card">
  <div class="card-header card-header-warning">
      <h4 class="card-title">UK Error Rank</h4>
      <p class="card-category">Latest UK Daily Rate ( 31/08/2018 )</p>
  </div>
  <div class="card-body table-responsive">
      <table class="table table-hover">
          <thead class="text-warning">
              <th>Include?</th>  
              <th>Error Endpoint</th>
              <th>Last Ocurrence</th>
              <th>Ocurrences</th>
          </thead>
          <tbody>
              <tr *ngFor="let error of errors">
                  <td>
                      <div class="form-check">
                          <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="" checked>
                              <span class="form-check-sign">
                                  <span class="check"></span>
                              </span>
                          </label>
                      </div>
                  </td>
                  <td>{{error.httpUrl}}</td>
                  <td>{{error.lastOccurrence}}</td>
                  <td>{{error.httpUrlCount}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

