<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">ROI Error Rank</h4>
        <p class="card-category">Latest ROI Daily Rate ( {{ this.errorRankEndDate | date: 'dd/MM/yyyy' }} )</p>
    </div>
    <div class="card-body table-responsive" *ngIf="!isProcessing">
        <table class="table table-hover">
            <thead class="text-warning">
                <tr class="row m-0">
                    <th class="d-inline-block col-1"></th>  
                    <th class="d-inline-block col-7">Error Endpoint</th>
                    <th class="d-inline-block col-2">Last Ocurrence</th>
                    <th class="d-inline-block col-2 text-center">Ocurrences</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row m-0" *ngFor="let error of errors">
                    <td class="d-inline-block col-1">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" checked>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td class="d-inline-block col-7">{{error.httpUrl}}</td>
                    <td class="d-inline-block col-2">{{error.lastOccurrence}}</td>
                    <td class="d-inline-block col-2 text-center">{{error.httpUrlCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <loading-spinner [isProcessing]="isProcessing" style="text-align: center;"></loading-spinner>
</div>
        
              
