<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <uk-dailyrate [datePickerChanged]="datePickerDate"></uk-dailyrate> 
            </div>
            <div class="col-md-3">
                <uk-yesterdayrate [datePickerChanged]="datePickerDate"></uk-yesterdayrate> 
            </div>
            <div class="col-md-3">
                <roi-dailyrate [datePickerChanged]="datePickerDate"></roi-dailyrate> 
            </div>
            <div class="col-md-3">
                <roi-yesterdayrate [datePickerChanged]="datePickerDate"></roi-yesterdayrate> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <uk-weekrate-graph [datePickerChanged]="datePickerDate"></uk-weekrate-graph>
            </div>
            <div class="col-md-3">
                <uk-monthrate-graph [datePickerChanged]="datePickerDate"></uk-monthrate-graph>
            </div>
            <div class="col-md-3">
                <roi-weekrate-graph [datePickerChanged]="datePickerDate"></roi-weekrate-graph>
            </div>
            <div class="col-md-3">
                <roi-monthrate-graph [datePickerChanged]="datePickerDate"></roi-monthrate-graph>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <uk-errors-rank [datePickerChanged]="datePickerDate"></uk-errors-rank>
            </div>
            <div class="col-md-6">
                <roi-errors-rank [datePickerChanged]="datePickerDate"></roi-errors-rank>
            </div>
        </div>
    </div>
</div>
