<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <uk-dailyrate></uk-dailyrate> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <uk-yesterdayrate></uk-yesterdayrate> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <roi-dailyrate></roi-dailyrate> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <roi-yesterdayrate></roi-yesterdayrate> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <uk-weekrate-graph></uk-weekrate-graph>
            </div>
            <div class="col-md-3">
                <uk-monthrate-graph></uk-monthrate-graph>
            </div>
            <div class="col-md-3">
                <roi-weekrate-graph></roi-weekrate-graph>
            </div>
            <div class="col-md-3">
                <roi-monthrate-graph></roi-monthrate-graph>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <uk-errors-rank></uk-errors-rank>
            </div>
            <div class="col-lg-6 col-md-12">
                <roi-errors-rank></roi-errors-rank>
            </div>
        </div>
    </div>
</div>
