
<div class="row justify-content-md-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header" style="font-size:large">
                Log List
            </div>

            <div class="card-body">
                <a type="button" class="btn btn-link" (click)="onImport(log)" >
                        Import data to Elastic
                </a>
                <hr>
                <input type="text" (input)="onInputText($event.target.value)" style="height: 40px; width: 100%;font-size: 20px;">
                <hr>
                <div>
                    <div>
                        <table class="table-condensed tables menuoptions">
                            <thead>
                                <tr>
                                    <td>Total Records - {{ totalRecords }}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <table class="table table-striped tables"
                    infiniteScroll  
                    [infiniteScrollDistance]="1"  
                    [infiniteScrollThrottle]="50"  
                    (scrolled)="fetchMoreData()"> 
                        <thead>
                            <tr>
                                <td>Hits</td>
                                <td>Http Url</td>
                                <td>First Occurrence</td>
                                <td>Last Occurrence</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of logs">
                                <td>{{ log.httpUrlCount }}</td>
                                <td class="ellipsis"><a [routerLink]="['/logdetailed']" [queryParams]="{ httpUrl : log.httpUrl }">{{ log.httpUrl }}</a></td>
                                <td>{{ log.firstOccurrence }}</td>
                                <td>{{ log.lastOccurrence }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="../../../assets/Rolling-1s-200px.gif" *ngIf="isProcessing" class="loadingSpinner"/> 
                </div>
            </div>
        </div>
    </div>
</div>
<info-modal [displayModal]="displayModal" [log]="selectedLog"></info-modal>