<div class="row justify-content-md-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header fixedHeader" style="font-size:large">
                Log List
            </div>

            <div class="card-body" style="padding-top:0px;">
                <div class="fixedTableHeader" style="padding-top:20px;">
                    <hr>
                    <input type="text" (input)="onInputText($event.target.value)" style="height: 40px; width: 100%;font-size: 20px;">
                    <hr>
                    <table class="table-condensed tables menuoptions">
                        <thead>
                            <tr>
                                <td>Total Records - {{ totalRecords }}</td>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-striped tables">
                        <thead>
                            <tr>
                                <td class="smallColumn">Hits</td>
                                <td class="bigColumn">Http Url</td>
                                <td class="midColumn">First Occurrence</td>
                                <td class="midColumn">Last Occurrence</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <table class="table table-striped tables">
                        <tbody>
                            <tr *ngFor="let log of logs">
                                <td class="smallColumn">{{ log.httpUrlCount }}</td>
                                <td class="bigColumn ellipsis">
                                    <a [routerLink]="['/logs/detailed']" [queryParams]="{ httpUrl : log.httpUrl }">{{ log.httpUrl }}</a>
                                </td>
                                <td class="midColumn">{{ log.firstOccurrence }}</td>
                                <td class="midColumn">{{ log.lastOccurrence }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="../../../assets/Rolling-1s-200px.gif" *ngIf="isProcessing" class="loadingSpinner" />
                </div>
            </div>
        </div>
    </div>
</div>
<info-modal [displayModal]="displayModal" [log]="selectedLog"></info-modal>