<div class="row justify-content-md-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header fixedHeader" style="font-size:large; background: #f4f1f4;">
                Detailed Logs by Http Url : {{ httpUrl }}
            </div>
            
            <div class="card-body" style="padding-top:0px;">
                <div class="fixedTableHeader">
                    <hr>
                    <input type="text" (input)="onInputText($event.target.value)" class="inputFilter">
                    <hr>
                    <table class="table-condensed tables menuoptions">
                        <thead>
                            <tr>
                                <td>Total Records - {{ totalRecords }}</td>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-striped tables">
                        <thead>
                            <tr>
                                <td class="smallColumn"></td>
                                <td class="ellipsis">Message</td>
                                <td class="midColumn">Source</td>
                                <td class="dateColumn">Date Logged</td>
                                <!-- <td>Exception</td> -->
                            </tr>
                        </thead>
                    </table>
                </div>
                <table class="table table-striped tables" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="fetchMoreData()">
                    <tbody>
                        <tr *ngFor="let log of logs">
                            <td class="smallColumn">
                                <button class="btn btn-warning btn-sm" (click)="onSelectLog(log)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </td>
                            <td class="ellipsis">{{ log.message }}</td>
                            <td class="midColumn">{{ log.source }}</td>
                            <td class="dateColumn">{{ log.dateTimeLoggedAsString }}</td>

                            <!-- <td class="ellipsis" [innerHTML]="log.exception | keepHtml"></td> -->
                        </tr>
                    </tbody>
                </table>
                <img src="../../../assets/Rolling-1s-200px.gif" *ngIf="isProcessing" class="loadingSpinner" />
          </div>
      </div>
    </div>
</div>
<info-modal [displayModal]="displayModal" [log]="selectedLog" (change)="modalEventChanges($event)"></info-modal>