<div class="card card-chart">
    <div class="card-header card-header-info">
        <div *ngIf="!isProcessing">
            <chart-generator [chartData]="dataDailySalesChart" [chartName]="chartName"></chart-generator>
        </div>
        <loading-spinner [isProcessing]="isProcessing" ></loading-spinner>
    </div>
    <div class="card-body">
        <h4 class="card-title">UK Week Rate</h4>
    </div>
    <div class="card-footer">
        <p class="card-category" *ngIf="comparison.value != null">
            <span class="text-success">
                <i class="fa fa-long-arrow-up"></i> {{comparison.valueAbsolute | number: '1.2-2' }}  
            </span> 
            {{comparison.value > 0 ? 'increase' : 'decrease' }} comparing last and previous values.
        </p>
    </div>
</div>

