<div class="card card-stats">
    <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
            <i class="material-icons">content_copy</i>
        </div>
        <p class="card-category">UK Daily Rate</p>
        <h3 class="card-title">{{ ukDailyRate.errorPercentage }}
            <small>%</small>
        </h3>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons text-danger">warning</i>
            Error-Count: {{ ukDailyRate.errorCount }}
        </div>
    </div>
</div>