<div class="card card-chart">
    <div class="card-header card-header-success">
        <div *ngIf="!isProcessing">
            <chart-generator [chartData]="dataDailySalesChart" [chartName]="chartName"></chart-generator>
        </div>
        <loading-spinner [isProcessing]="isProcessing" ></loading-spinner>
    </div>
    <div class="card-body">
        <h4 class="card-title">ROI Week Rate</h4>
    </div>
    <div class="card-footer">
        <chart-footer [comparison]="comparison" ></chart-footer>
    </div>
</div>